<head>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
<div><h1>Homepage</h1></div>
<% if (user) { %>
  <div><a href="/auth/logout">Logout</a></div>
  <div>
      <h3>User Info</h3>
      <h5>https://openapi-portfolio-int.linkplatforms.com/v1/user/me</h5>
      <div id="user-info">
        <div><%= JSON.stringify(user, null, 2) %></div>
        <% if (user.changed) { %>
        <div><a href="/resource/pullUser">Sync user</a></div>
        <% } %>
      </div>
  </div>

  <% if (fitness) { %>
    <div>
        <h3>Fitness Info</h3>
        <h5>https://openapi-portfolio-int.linkplatforms.com/v1/fitness/summaries/date</h5>
        <div id="fitness-info">
          <div><%= JSON.stringify(fitness, null, 2) %></div>
          <% if (fitness.changed) { %>
          <div><a href="/resource/pullFitness?date=<% var d = new Date(); var d_str = d.getFullYear() + '-'
              + ('0' + (d.getMonth()+1)).slice(-2) + '-'
              + ('0' + d.getDate()).slice(-2);%><%= d_str %>">Sync fitness</a></div>
          <% } %>%>
        </div>
      </div>
    </div>
    <script>
        function reload() {
          location.reload();
        }
        setTimeout(reload, 15000);
    </script>
  <% } %>

<% } else {%>
<div class="login-content">
      <a href="/auth/misfit" class="btn-primary btn-lg">Login with Misfit</a>
  </div>
<% } %>




</body>
